html, body {
  height: 100%;
  font-family: 'Open-Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FF82AB;
max-height: 97%;
}

.container {
}

.levelButton {
  display: inline-block;
  padding:10px;
  border: 1px #fff dotted;
  border-radius: 50%;
  background-color: #FF82AB;
  width: 40px;
  margin: 0 2px 0 2px;
  height: 40px;
  font-size: 1.5em;
  color: #fff;
  line-height: 20px;
}

.onLevel {
  border: 1px #fff solid;
  background-color: #FF94B7;
}

.levelButton:hover {
  cursor: pointer;
  border: 1px #fff solid;
}

.levelButton:focus {
  outline:none;
}

#message {
  text-align: center;
  color: #fff;
}

#message {
  font-size: 0.9rem;
}

.gameinfo {
  margin-top: -5px;
  margin-bottom: 20px;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.board div {
  color: #fff;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #fff dashed;
  border-radius: 10%;
  background-color: #FF82AB;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  color: #fff;
  font-size: 2em;
}

div.mine {
  background: no-repeat center/60% url("images/bomb.png") orange;
  border:1px orange solid;
}

div.mine:hover {
  background-color: orange;
  color:#fff;
}

div.hidden {
  background: #FF82AB;
  border: 1px #fff solid;
  color: #FF82AB;
}

div.hidden:hover {
  background: #fff;
  color: #FF82AB;
  cursor: pointer;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/flag.png") #FF82AB;
  border:1px #FF82AB solid;
}

.bottomsticky {
  display: flex;
  position: relative;
  flex-shrink:0;
  margin-top: auto;
  align-content: center;
  bottom: 16px;
  left: 0;
  text-align: center;
  margin-bottom: 8px;
}

.returnsticky {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border: 1px #fff solid;
  border-radius: 8px;
  font-family: 'Abel';
  font-size: 1.1rem;
}
